body {
  background-color: #FFEDD4;
}

h1 {
  color: #73e58c;
  font-family: Goudy Old Style;
  font-size: 40px;
  text-align: center;
  }

.One {
  font-family: Georgia;
  font-size: 20px
  text-align: justify;
}

.Two {
  color: #aae7ae;
  font-family: Goudy Old Style;
  font-size: 30px;
  text-align: justify;
}

#CompanyLogoID {   
  height: 50%;
  width: 10%;
}
